[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[packages]
package-name = "*"
django = "==3.1.13"
pillow = "*"
dj-database-url = "*"
gunicorn = "*"
dj-static = "*"
django-crispy-forms = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
djangorestframework = "*"
